body{
    background-color: #171717;
    margin: 0px;
    padding-top: 30px;
    transition: background 0.2s linear;
}

body.light{
    background-color: #e0e0e0;
    margin: 0px;
    padding-top: 30px;
}

button{
    width: 90px;
    height: 70px;
    font-family: "Poppins"; 
    font-size: 1.5rem;
    background-color: #242424;
    color: #6B6E70;
    border: 0px;
    outline: #131313 solid 2px ;
    text-align: center;
    cursor: pointer;
    transition: background 0.2s linear;
}

button:hover{
    background-color: #3f3f3f;
}

body.light button{
    background-color: white;
    color: #242424;
    outline: #c4c4c4 solid 2px ;
}

body.light button:hover{
    background-color: rgb(207, 205, 205);
}

.result{
    width: 360px;
    height: 40px;
    font-size: 1.5rem;
    font-family: "Poppins"; 
    color: #6B6E70;
}

body.light .result{
    color:black;
}

.calculator{ 
    width: 360px; 
    outline: #131313 solid 2px ; 
    margin: auto;
    transition: background 0.2s linear;
}

body.light .calculator{
    outline: #c4c4c4 solid 2px ;
}

.calculation{
    width: 360px;
    min-height: 40px;
    font-size: 1.5rem;
    font-family: "Poppins"; 
    color: #6B6E70;
    word-wrap: break-word;
}

.display{
    width: 360px; 
}

body.light .calculation{
    color:black;
}

.equals{
    color: white;
    background-color: #0089A8;
}

.equals:hover{
    background-color: #005163;
}

body.light .equals:hover{
   background-color: #005163;
}

body.light .equals{
    color: white;
    background-color: #0089A8;
}

.altButton{
    color:#0089A8;
    font-weight: bold;
}

body.light .altButton{
    color:#0089A8;
    font-weight: bold;
}

.input{
    font-size: 0;
}

.highlightLine{
    margin: auto;
    width: 200px;
    height: 4px;
    background-color: #0089A8;
}

* {
    box-sizing: border-box;
}

.label{
    width: 70px;
    height: 35px;
    background-color: #0089A8;
    border-radius: 50px;
    padding: 5px;
    margin-right: 0;
    display: flex;
    justify-content: space-between;
    position: relative;
    box-shadow: 0 0 2pt 1pt #6B6E70;
    transform: scale(0.8);
}

.fa-moon{
    color: white;
    font-size: 1.6rem;
}

.fa-sun{
    color: white;
    font-size: 1.6rem;
}

.ball{
    width:31px;
    height:31px;
    top: 2px;
    left: 2px;
    background-color: white;
    position: absolute;
    border-radius: 50%;
    transition: transform 0.1s linear ;
}

.checkbox:checked + .label .ball{
    transform: translate(36px);
}

.checkbox{
    opacity: 0;
    position: absolute;
}

.header .header2{
    padding-top: 7px;
    float: right;  
    width:21%;
}

.header .header1{
    width: 79%;
    float: left;
    padding-left: 90px;
    padding-top: 15px;
    font-size: 1.1rem;
}

.header{
    height: 50px;
    width: 360px;
    color: #6B6E70;
    font-family: "Poppins"; 
    background-color: #242424;
    transition: background 0.2s linear;
}

body.light .header{
    background-color: white;
    color: black;
}