.dotBlue{
    color: #1687A7;
}

.collinsLink{
    color: #1687A7;
    text-decoration: underline;
}

.pageContainer{
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 70px;
    justify-content: center;
    display: flex;
}

.outerContentDiv{
    display: flex;
    flex-direction: row;
    margin-top: 20vh;
}

.textBlock{
    flex: 66%;
    padding-bottom: 3rem;
}

.hello{
    font-size: 48px;
    color: #363636;
    padding-bottom: 26px;
}

.samuel{
    font-size: 96px;
    color: #1687A7;
}

.welcome{
    font-size: 96px;
    color: #363636;
    padding-bottom: 45px;
}

.summary{
    font-size: 24px;
    color:#5F5F5F;
    max-width: 750px;
}

.computerDiv{
    max-width: 537px;
    flex: 34%;
    margin-top: 40px;
}

.computerGif{
    max-width: 537px;
    
}

/*adjustmenmts for when word portfolio wraps around*/
@media screen and (max-width: 1652px) {
    .textBlock{
        max-width: 710px;
    }
    .computerDiv{
        margin-top: 80px;
    }
}

/*adjustments for when word Micallef wraps around*/
@media screen and (max-width: 1288px) {
    .textBlock{
        max-width: none;
    }
    .outerContentDiv{
        flex-direction: column;
    }
    .computerGif{
       display: none;
    }
}

@media screen and (max-width: 1114px) {
    .textBlock{
        max-width: 710px;
    }
    .outerContentDiv{
        margin-top: 10vh;
    } 
}

@media screen and (max-width: 770px) {
    .computerGif,.computerDiv{
        display: initial;
        width: 100%;
        max-width: none;
        margin-top: 10px;
    }
    .outerContentDiv{
        margin-top: 7vh;
    } 
    .hello, .welcome{
        padding-bottom: 10px;
    }
    .hello{
        font-size: 6vw;
    }
    .samuel{
        font-size: 11.5vw;   
    }
    .welcome{
        font-size: 11.5vw; 
        padding-bottom: 10px;
    }
    .summary{
        font-size: 4vw;
    }
}